{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="{% static 'todo/style.css' %}">-->
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
<title>Todoapp</title>
</head>


{% if user.is_authenticated %}
<div class="alert alert-warning" style="background-color:#E5C33D;margin-bottom:7%">
    <img src="{% static 'todo/logot.png' %}" width="30" height="30" class="d-inline-block align-top">
    <span style="padding:5px;font-size:25px;color:#730D0D"><b>TodoApp</b></span>
    <a href="{% url 'home' %}" style="padding:5px;color:#730D0D">Home</a>
    <a href="{% url 'createtodo' %}" style="padding:5px;color:#730D0D">Create</a>
    <a href="{% url 'currenttodo' %}" style="padding:5px;color:#730D0D">Current</a>
    <a href="{% url 'completedlist' %}" style="padding:5px;;color:#730D0D;margin-right:45%">Completed</a>

<!--    <form action="{% url 'logoutuser' %}" method="POST" style="margin-right:2px">-->
<!--    {% csrf_token %}-->
<!--    <button type="submit">Logout</button>-->
<!--    </form>-->

    <h6 style="left:40px ; display:inline-block;color:#730D0D">Logged in as {{user.username}}</h6>

    <a href="#" onclick="$('#signOutBtn').click()" class="nav-link" style="color:#730D0D;display:inline-block">Logout</a>
    <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
        {% csrf_token %}
        <button id="signOutBtn" type="submit">Logout</button>
    </form>
</div>

{% else %}
<div class="alert alert-warning" style="background-color:#E5C33D;margin-bottom:7%">
    <img src="{% static 'todo/logot.png' %}" width="30" height="30" class="d-inline-block align-top">
    <span style="padding:5px;font-size:25px;color:#730D0D;margin-right:78%"><b>TodoApp</b></span>
    <a href="{% url 'loginuser' %}" style="padding:5px;color:#730D0D">Login</a>
    <a href="{% url 'signupuser' %}" style="padding:5px;;color:#730D0D">Signup</a>
</div>
{% endif %}

<div class="container">
{% block content %}
{% endblock %}
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>